extends layout

block content
  .row
    .col-sm-8
      h1 Customized PBX service, powered by the cloud.
      p.lead Your business needs a communication solution.
      .splash-text
      a.btn.btn-success(href='/contact', role='button') Contact Us Now!
    .col-sm-4
      img(src="/img/phone-2.png").splash
  hr
  .row.text-center
    .col-sm-6
      h3 Standard Plans
      h2
        Starting from $24.99/Month!
      p Our standard service suits most business needs.
      p
      a(href='/contact') Contact us for more information.
    .col-sm-6
      h3 Custom Service
      h2 Get a Free Quote!
      p We provide free quotes for custom solutions.
      p
      a(href='/contact') Contact us to receive a quote.

  hr
  .row
    .col-sm-6
      h2
        i.fa.fa-bullseye
        |  Simplicity
      p Our system is easy to setup and simple to use. Intuitive interfacing allows for powerful communication between all levels of your business.
      p
        a.btn.btn-default(href='#', role='button') Learn More »
    .col-sm-6
      h2
        i.fa.fa-cloud
        |  Scalability
      p Whether you're a company of 4 or 4,000, we have the infrastructure to empower your team.
      p
        a.btn.btn-default(href='#', role='button') Learn More »
    .col-sm-6
      h2
        i.fa.fa-lock
        |  Security
      p Sleep easy. Your communications are 100% confidential, 100% secured in our cloud servers.
      p
        a.btn.btn-default(href='#', role='button') Learn More »
    .col-sm-6
      h2
        i.fa.fa-assistive-listening-systems
        |  Synergy
      p Our reliable systems enable your teams to communicate like never before, no matter how large or small they are. Experience the power of a custom PBX solution today!
      p
        a.btn.btn-default(href='#', role='button') Learn More »
